body {
  font-family: 'Montserrat', sans-serif;
}
.volver-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  background-color: #800d0d;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.con-tooltip {
  position: relative;
  display: inline-block;
  background: #fdebd0;
  padding: 10px 20px;
  margin-top: 20px;
}
.tooltip {
  position: absolute;
  top: -30px;
  left: 0;
  background: #800d0d;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1rem;
  white-space: nowrap;
  z-index: 10;
  display: none;
}
.con-tooltip:hover .tooltip {
  display: block;
}